@mixin not-docs-example($tags...) {
    $tags-length: length($tags);

    @if $tags-length > 1 {
        @each $tag in $tags {
            $tag: unquote($tag);

            :where(#{$tag}:not(.docs-example #{$tag})) {
                @content;
            }
        }
    } @else {
        $tag: unquote(nth($tags, 1));

        :where(#{$tag}:not(.docs-example #{$tag})) {
            @content;
        }
    }
}
