/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

$footer-copyright-color: $footer-color !default;
$footer-copyright-font-size: 0.75rem !default;

.footer__copyright {
    font-size: $footer-copyright-font-size;

    @include mb-down(md) {
        order: 1;
    }

    a {
        color: $footer-copyright-color;
    }
}
