/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

$footer-navbar-min-width: 200px !default;

$footer-navbar-lv0-gap: 2rem !default;

$footer-navbar-lv1-margin-top: 0.5rem !default;

$footer-navbar-item-lv0-border-bottom-md: 1px solid $gray-400 !default;

$footer-navbar-link-padding: 0.25rem 0 !default;

$footer-navbar-link-lv0-padding-y-md: 1.5rem !default;
$footer-navbar-link-lv0-padding-x-md: 0.5rem !default;
$footer-navbar-link-lv0-padding-md: $footer-navbar-link-lv0-padding-y-md $footer-navbar-link-lv0-padding-x-md !default;
$footer-navbar-link-lv0-color: $body-color !default;
$footer-navbar-link-lv0-font-size: 0.75rem !default;
$footer-navbar-link-lv0-font-weight: $font-weight-semi-bold !default;
$footer-navbar-link-lv0-text-transform: uppercase !default;

$footer-navbar-link-lv1-padding-md: 0.25rem 0.5rem !default;
$footer-navbar-link-lv1-color: $gray-600 !default;
$footer-navbar-link-lv1-font-size: $small-font-size !default;
$footer-navbar-link-lv1-hover-color: $body-color !default;

$footer-navbar-toggle-icon: 'chevron-down' !default;
$footer-navbar-toggle-height: calc(
    $footer-navbar-link-lv0-font-size * $body-line-height + $footer-navbar-link-lv0-padding-y-md * 2
) !default;
$footer-navbar-toggle-padding-right: $footer-navbar-link-lv0-padding-x-md !default;

.footer__navbar {
    .navbar {
        @include mb-up(md) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax($footer-navbar-min-width, 1fr));
        }

        &.lv0 {
            @include mb-up(md) {
                gap: $footer-navbar-lv0-gap;
            }
        }

        &.lv1 {
            @include mb-up(md) {
                margin-top: $footer-navbar-lv1-margin-top;
            }

            @include mb-down(md) {
                @include collapse;
            }
        }
    }

    .navbar__item {
        &.lv0 {
            @include mb-down(md) {
                border-bottom: $footer-navbar-item-lv0-border-bottom-md;
            }
        }

        &.lv1 {
            &:last-child {
                @include mb-down(md) {
                    margin-bottom: 0.5rem;
                }
            }
        }

        &.is-parent {
            position: relative;

            /* stylelint-disable-next-line max-nesting-depth */
            &.is-active {
                /* stylelint-disable-next-line max-nesting-depth */
                > .navbar {
                    @include mb-down(md) {
                        @include collapse-active;
                    }
                }
            }
        }
    }

    .navbar__link {
        display: block;
        padding: $footer-navbar-link-padding;

        &.lv0 {
            @include reset-link($footer-navbar-link-lv0-color);
            font-size: $footer-navbar-link-lv0-font-size;
            font-weight: $footer-navbar-link-lv0-font-weight;
            text-transform: $footer-navbar-link-lv0-text-transform;

            @include mb-down(md) {
                padding: $footer-navbar-link-lv0-padding-md;
            }
        }

        &.lv1 {
            @include reset-link($footer-navbar-link-lv1-color, $footer-navbar-link-lv1-hover-color);
            font-size: $footer-navbar-link-lv1-font-size;

            @include mb-down(md) {
                padding: $footer-navbar-link-lv1-padding-md;
            }
        }
    }

    .navbar__toggle {
        @include mobile-only;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: $footer-navbar-toggle-height;
        padding-right: $footer-navbar-toggle-padding-right;
        aspect-ratio: 1 / 2;
        cursor: pointer;

        &::before {
            @include sparkle-icon($footer-navbar-toggle-icon);
        }
    }
}
