/**
 * Copyright @ 2024 Sparkle UI
 * https://github.com/sparkleui/sparkle
 */

$footer-social-gap: 0.5rem !default;
$footer-social-margin-bottom-md: 0.5rem !default;

.footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $footer-social-gap;

    @include mb-down(md) {
        order: 0;
        margin-bottom: $footer-social-margin-bottom-md;
    }

    .social {
        @include button;
        @include button-icon;

        /* stylelint-disable-next-line order/order */
        --#{$prefix}-button-font-size: 1.5rem;
    }
}
