// =====================================================
// Social
// =====================================================

$footer-social-gap: 0.5rem !default;
$footer-social-margin-bottom-md: 0.5rem !default;

.footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $footer-social-gap;

    @include mb-down(md) {
        order: 0;
        margin-bottom: $footer-social-margin-bottom-md;
    }
}
