/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

// Label
label {
    @include last-child-no-margin-bottom;

    display: block;
    margin-bottom: $label-margin-bottom;
}

// Input
%form-field {
    @include last-child-no-margin-bottom;

    display: block;
    width: 100%;
    margin: $input-margin;
    padding: $input-padding-y $input-padding-x;
    background-color: $input-background-color;
    color: $input-color;
    border: $input-border;
    border-radius: $input-border-radius;
    font-size: $input-font-size;
    line-height: $input-line-height;
    box-shadow: none;
    appearance: none;

    &:focus {
        border-color: $input-focus-border-color;
        outline: 0;
    }

    &:disabled {
        background-color: $input-disabled-background-color;
        opacity: $input-disabled-opacity;
        pointer-events: none;
    }
}

input {
    @extend %form-field;
}

// Checkbox and radio
// =====================================================
// Add custom style for checkbox and radio input

[type='checkbox'],
[type='radio'] {
    float: left;
    padding: 0;
    aspect-ratio: 1;

    + label {
        display: inline;
        margin-bottom: 0;
    }
}

[type='checkbox'] {
    width: $checkbox-width;
    margin: $checkbox-margin;
    border-right: $checkbox-border-radius;

    &:checked {
        background: $checkbox-checked-background;
        background-size: $checkbox-checked-background-size;
        border-color: $checkbox-checked-border-color;
    }
}

[type='radio'] {
    width: $radio-width;
    margin: $radio-margin;
    border-radius: $radio-border-radius;

    &:checked {
        background: $radio-checked-background;
        background-size: $radio-checked-background-size;
        border-color: $radio-checked-border-color;
    }
}

// Number
// =====================================================
// Correct the cursor style of increment and decrement buttons in Chrome

[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        height: auto;
    }
}

// Search
// =====================================================
// 1. Correct the odd appearance in Chrome and Safari
// 2. Correct the outline style in Safari
// 3. Remove the inner padding in Chrome and Safari on macOS

[type='search'] {
    appearance: textfield; // 1
    outline-offset: -2px; // 2

    &::-webkit-search-decoration {
        appearance: none; // 3
    }

    &::-webkit-search-cancel-button {
        display: none;
    }
}

// Date and time
// =====================================================
// Add custom style for date and time input

[type='date'],
[type='datetime-local'],
[type='week'],
[type='month'],
[type='time'] {
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

[type='date'],
[type='datetime-local'],
[type='week'],
[type='month'] {
    padding: $date-padding;
    padding-right: $date-padding-right;
    background: $date-background;
    background-size: $date-background-size;

    &::-webkit-calendar-picker-indicator {
        margin-right: $date-icon-margin-right;
    }
}

[type='time'] {
    padding: $time-padding;
    padding-right: $time-padding-right;
    background: $time-background;
    background-size: $time-background-size;

    &::-webkit-calendar-picker-indicator {
        margin-right: $time-icon-margin-right;
    }
}

// File
// =====================================================
// 1. Correct the inability to style clickable types in iOS and Safari
// 2. Change font properties to `inherit` in Safari

[type='file'] {
    padding: 0;
    background-color: transparent;
    border: 0;

    &:disabled {
        background-color: transparent;
    }

    &::-webkit-file-upload-button {
        @include button;
        @include button-primary($file-button-color);

        appearance: button; // 1
        font: inherit; // 2
    }
}

// Color
// =====================================================
// Add custom style for color input

[type='color'] {
    height: $color-height;
    padding: $color-padding;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: 0;
        border-radius: $color-swatch-border-radius;
    }
}

// Range
// =====================================================
// Add custom style for range input

[type='range'] {
    padding: 0;
    background-color: transparent;
    border: 0;
    appearance: none;

    &:active {
        &::-webkit-slider-thumb {
            background-color: $range-thumb-active-background-color;
        }
    }

    &::-webkit-slider-runnable-track {
        height: $range-track-height;
        width: 100%;
        background-color: $range-track-background-color;
        border-radius: $range-track-border-radius;
    }

    &::-webkit-slider-thumb {
        width: $range-thumb-width;
        margin-top: $range-thumb-margin-top;
        background-color: $range-thumb-background-color;
        border-radius: $range-thumb-border-radius;
        appearance: none;
        aspect-ratio: 1;
        cursor: pointer;
    }
}

// Textarea
// =====================================================
// Textareas should really only resize vertically so they don't break their (horizontal) containers

textarea {
    @extend %form-field;

    min-height: $textarea-min-width;
    resize: vertical;
}

// Select
// =====================================================
// Add custom style for select

select {
    @extend %form-field;

    padding-right: $select-padding-right;
    background: $select-background;
    background-size: $select-background-size;

    &[multiple] {
        padding-right: $input-padding-x;
        background-image: none;
    }
}

// Fieldset
// =====================================================
// 1. Reset `min-width`
// 2. Reset the default outline behavior of fieldsets so they don't affect page layout

fieldset {
    @include last-child-no-margin-bottom;

    min-width: 0; // 1
    margin: $fieldset-margin; // 2
    padding: 0; // 2
    border: 0; // 2
}

// Legend
// =====================================================
// 1. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.

legend {
    width: 100%;
    margin-bottom: $legend-margin-bottom;
    padding: 0; // 1
    font-size: $legend-font-size;
}

// Progress
// =====================================================
// Add the correct vertical alignment in Chrome, Firefox, and Opera

progress {
    display: inline-block;
    height: $progress-height;
    width: 100%;
    margin: $progress-margin;
    background-color: $progress-background-color;
    border: 0;
    border-radius: $progress-border-radius;
    vertical-align: baseline;
    overflow: hidden;

    &:indeterminate {
        background: $progress-indeterminate-background;
        animation: progress-indeterminate 1s linear infinite;

        &[value]::-webkit-progress-value {
            background-color: transparent;
        }
    }

    &::-webkit-progress-bar {
        background-color: transparent;
        border-radius: $progress-border-radius;
    }

    &[value]::-webkit-progress-value {
        background-color: $progress-color;
    }
}

@keyframes progress-indeterminate {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

// Change the font styles in all browsers

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Remove the inheritance of text transform in Firefox

button,
select {
    text-transform: none;
}

// Button
// =====================================================
// 1. Correct the inability to style clickable types in iOS and Safari
// 2. Restore the focus styles unset by the previous rule
// 3. Remove the inner border and padding in Firefox

button,
[type='button'],
[type='reset'],
[type='submit'] {
    appearance: button; // 1

    &:-moz-focusring {
        outline: 1px dotted ButtonText; // 2
    }

    &::-moz-focus-inner {
        padding: 0; // 3
        border-style: none; // 3
    }
}
