// =====================================================
// Embedded content
// =====================================================

// Figure
figure {
    @include last-child-no-margin-bottom;
    margin: $figure-margin;
}

// Figcaption
figcaption {
    color: $figcaption-color;
    font-size: $figcaption-font-size;

    img + & {
        margin-top: $figcaption-margin-top;
    }
}

// Images and svg
img,
svg {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
    font-style: italic;
}
