/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

// Table
/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

table {
    @include last-child-no-margin-bottom;
    width: 100%;
    margin-bottom: $table-margin-bottom;
    border-collapse: collapse; // 1
    border-color: inherit; // 2
    caption-side: $table-caption-side;

    > :not(:last-child) {
        > :last-child {
            border-bottom: $table-group-divider-border-bottom;
        }
    }
}

caption {
    padding: $table-caption-padding;
    color: $table-caption-color;
    text-align: left;
}

// Table cell
/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

th {
    text-align: inherit; // 1
    text-align: -webkit-match-parent; // 2
}

th,
td {
    padding: $table-cell-padding;
    border-bottom: $table-cell-border-bottom;
}
