/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

// Headings
// =====================================================
// 1. Remove top margin from headings

%heading {
    margin-top: 0; // 1
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
}

@each $heading, $value in $headings-font-sizes {
    #{$heading} {
        @extend %heading;

        font-size: $value;
    }
}

// Paragraphs
// =====================================================
// 1. Remove top margin
// 2. Reset bottom margin to use `rem` instead of `em`

p {
    @include last-child-no-margin-bottom;

    margin-top: 0; // 1
    margin-bottom: $paragraph-margin-bottom; // 2
}

// Links
a {
    color: $link-color;
    text-decoration: $link-text-decoration;

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-text-decoration;
    }
}

// Strong
// =====================================================
// 1. Add the correct font weight in Chrome, Edge, and Safari

%strong {
    font-weight: $strong-font-weight; // 1
}

b,
strong {
    @extend %strong;
}

// Small
// =====================================================
// 1. Add the correct font size in all browsers

%small {
    font-size: $small-font-size; // 1
}

small {
    @extend %small;
}

// Lists
ul,
ol {
    @include last-child-no-margin-bottom;

    margin-top: 0;
    margin-bottom: $list-margin-bottom;
    padding-left: $list-padding-left;

    nav & {
        @include reset-list;
    }
}

// Description lists
dl {
    @include last-child-no-margin-bottom;

    margin-top: 0;
    margin-bottom: $description-list-margin-bottom;
}

dt {
    font-weight: $description-list-title-font-weight;
}

dd {
    margin-bottom: $description-list-detail-margin-bottom;
    margin-left: 0;
}

// Blockquote
blockquote {
    @include last-child-no-margin-bottom;

    margin: 0 0 $blockquote-margin-bottom;
    font-size: $blockquote-font-size;

    @include mb-down(md) {
        font-size: $blockquote-font-size-md;
    }

    + figcaption {
        margin: $blockquote-figcaption-margin;
        color: $blockquote-figcaption-color;
        font-size: $blockquote-figcaption-font-size;

        &::before {
            content: $blockquote-figcaption-icon;
        }
    }
}

// Address
address {
    @include last-child-no-margin-bottom;

    margin-bottom: $address-margin-bottom;
    font-style: normal;
    line-height: inherit;
}

// Mark
mark {
    padding: $mark-padding;
    background-color: $mark-background-color;
}

// Sub and Sup
// =====================================================
// Prevent `sub` and `sup` elements from affecting the line height in all browsers

sub,
sup {
    position: relative;
    font-size: $sub-sup-font-size;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

// Abbreviations
// =====================================================
// 1. Add the correct text decoration in Chrome, Edge, Opera, and Safari
// 2. Add explicit cursor to indicate changed behavior
// 3. Prevent the text-decoration to be skipped

abbr[title] {
    text-decoration: underline dotted; // 1
    cursor: help; // 2
    text-decoration-skip-ink: none; // 3
}

// Code
// =====================================================
// 1. Correct the inheritance and scaling of font size in all browsers
// 2. Correct the odd `em` font sizing in all browsers

pre,
code,
kbd,
samp {
    font-family: $font-family-monospace; // 1
    font-size: 1em; // 2
}

// 1. Remove top margins from pre
// 2. Reset browser default bottom margin
// 3. Don't allow content to break outside

pre {
    @include last-child-no-margin-bottom;

    display: block;
    margin-top: 0; // 1
    margin-bottom: $pre-margin-bottom; // 2
    overflow: auto; // 3
    font-size: $pre-font-size;
}

code {
    color: $code-color;
    font-size: $code-font-size;
    word-wrap: break-word;

    pre & {
        color: inherit;
        font-size: inherit;
        word-break: normal;
    }
}

kbd {
    padding: $kbd-padding;
    background-color: $kbd-background-color;
    color: $kbd-color;
    border-radius: $kbd-border-radius;
    font-size: $kbd-font-size;

    kbd {
        padding: 0;
        font-size: 1em;
    }
}

// Hr
// =====================================================
// 1. Reset Firefox's gray color

hr {
    margin: $hr-margin;
    color: inherit; // 1
    border: 0;
    border-top: $hr-border-top;
}
