// =====================================================
// Colors
// =====================================================

@each $color, $value in $theme-colors {
    .text-#{$color} {
        color: $value !important;
    }

    .background-#{$color} {
        background-color: $value !important;
    }

    @each $breakpoint, $breakpoint-value in $breakpoints {
        @include mb-up($breakpoint) {
            .text-#{$breakpoint}-#{$color} {
                color: $value !important;
            }

            .background-#{$breakpoint}-#{$color} {
                background-color: $value !important;
            }
        }
    }
}
