{
    "plugins": ["stylelint-prettier"],
    "ignorePatterns": ".gitignore",
    "rules": {
        "prettier/prettier": true,
        "color-hex-length": "long",
        "declaration-property-value-disallowed-list": null,
        "function-parentheses-space-inside": "never-single-line",
        "max-nesting-depth": [2, { "ignore": ["pseudo-classes"], "ignoreAtRules": ["/include/", "/each/", "/if/"] }],
        "selector-class-pattern": null,
        "selector-no-qualifying-type": [true, { "ignore": ["attribute", "class"] }]
    }
}
