// =====================================================
// Breadcrumb
// =====================================================

$breadcrumb-list-gap: 0.25rem !default;

$breadcrumb-item-divider-icon: 'chevron-right' !default;

$breadcrumb-link-color: $body-color !default;
$breadcrumb-link-font-size: $small-font-size !default;
$breadcrumb-link-font-weight: $font-weight-semi-bold !default;

.breadcrumb__list {
    @include reset-list;
    display: flex;
    align-items: center;
    gap: $breadcrumb-list-gap;
    flex-wrap: wrap;
}

.breadcrumb__item {
    &:not(:last-child) {
        &::after {
            @include aurora-icon($breadcrumb-item-divider-icon);
            vertical-align: middle;
        }
    }
}

.breadcrumb__link {
    @include reset-link($breadcrumb-link-color);
    font-size: $breadcrumb-link-font-size;

    &[href] {
        font-weight: $breadcrumb-link-font-weight;
    }
}
