/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

$cover-padding-y: 7rem !default;
$cover-padding-y-md: 5rem !default;

$cover-overlay-background-color: rgba($black, 0.5) !default;
$cover-overlay-color: color-contrast($cover-overlay-background-color) !default;

$cover-body-max-width: 600px !default;
$cover-body-padding: 0 0 0 $cover-padding-y !default;
$cover-body-padding-md: 0 1rem !default;
$cover-body-last-child-margin-top: 1rem !default;

$cover-actions-gap: 1rem !default;

.cover {
    padding: $cover-padding-y 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mb-down(md) {
        padding: $cover-padding-y-md 0;
    }

    &[href] {
        display: block;
        text-decoration: none;
    }

    &.cover--overlay {
        position: relative;
        color: $cover-overlay-color;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $cover-overlay-background-color;
        }

        .cover__body {
            position: relative;
            z-index: 1;
        }
    }

    &.cover--center {
        text-align: center;

        .cover__body {
            margin: 0 auto;

            @include mb-up(md) {
                padding: 0 div($cover-padding-y, 2);
            }
        }

        .cover__actions {
            justify-content: center;
        }
    }

    &.cover--right {
        text-align: right;

        .cover__body {
            margin-left: auto;

            @include mb-up(md) {
                padding: 0 $cover-padding-y 0 0;
            }
        }

        .cover__actions {
            justify-content: flex-end;
        }
    }
}

.cover__body {
    padding: $cover-body-padding;

    @include mb-up(md) {
        max-width: $cover-body-max-width;
    }

    @include mb-down(md) {
        padding: $cover-body-padding-md;
    }

    > *:last-child {
        margin-top: $cover-body-last-child-margin-top;
    }
}

.cover__actions {
    display: flex;
    flex-wrap: wrap;
    gap: $cover-actions-gap;
}
