/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

$pagination-list-gap: 0.5rem !default;

$pagination-link-background-color: $white !default;
$pagination-link-box-shadow: 0 0 10px rgba($black, 0.05) !default;
$pagination-link-size: 'small' !default;

$pagination-link-active-background-color: $primary !default;

.pagination__list {
    @include reset-list;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $pagination-list-gap;
}

.pagination__item {
    &.is-active {
        .pagination__link {
            @include button-primary($pagination-link-active-background-color);
        }
    }
}

.pagination__link {
    @include button;
    @include button-primary($pagination-link-background-color);
    @include button-icon;
    @include button-icon-size($pagination-link-size);
    /* stylelint-disable-next-line order/order */
    --#{$prefix}-button-font-size: #{$button-font-size};
    box-shadow: $pagination-link-box-shadow;
}
