/**
 * Copyright @ 2024 Sparkle UI
 * https://github.com/sparkleui/sparkle
 */

.parallax {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
