/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

@mixin button {
    --#{$prefix}-button-padding: #{$button-padding-y $button-padding-x};
    --#{$prefix}-button-background-color: #{$button-background-color};
    --#{$prefix}-button-color: #{$button-color};
    --#{$prefix}-button-border-color: #{$button-border-color};
    --#{$prefix}-button-font-size: #{$button-font-size};
    --#{$prefix}-button-hover-background-color: #{$button-background-color};
    --#{$prefix}-button-hover-color: #{$button-color};
    --#{$prefix}-button-hover-border-color: #{$button-border-color};
    --#{$prefix}-button-icon-margin: #{$button-icon-margin};

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--#{$prefix}-button-padding);
    background-color: var(--#{$prefix}-button-background-color);
    color: var(--#{$prefix}-button-color);
    border: $button-border-width solid var(--#{$prefix}-button-border-color);
    border-radius: $button-border-radius;
    font-size: var(--#{$prefix}-button-font-size);
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    text-align: center;
    text-decoration: none;
    text-transform: $button-text-transform;
    text-shadow: none;
    cursor: pointer;
    user-select: none;
    transition: transition(background-color, color, border-color);
    transition-duration: 0.15s;

    &:hover,
    &:focus {
        background-color: var(--#{$prefix}-button-hover-background-color);
        color: var(--#{$prefix}-button-hover-color);
        border-color: var(--#{$prefix}-button-hover-border-color);
    }

    &:disabled,
    &.disabled {
        opacity: $button-disabled-opacity;
        pointer-events: none;
    }

    > :not([hidden]) {
        ~ :not([hidden]) {
            margin-left: var(--#{$prefix}-button-icon-margin);
        }
    }
}

@mixin button-primary($color, $hover-color: darken($color, 5)) {
    --#{$prefix}-button-background-color: #{$color};
    --#{$prefix}-button-color: #{color-contrast($color)};
    --#{$prefix}-button-border-color: #{$color};
    --#{$prefix}-button-hover-background-color: #{$hover-color};
    --#{$prefix}-button-hover-color: #{color-contrast($hover-color)};
    --#{$prefix}-button-hover-border-color: #{$hover-color};
}

@mixin button-secondary($color) {
    --#{$prefix}-button-color: #{$color};
    --#{$prefix}-button-border-color: #{$color};
    --#{$prefix}-button-hover-background-color: #{$color};
    --#{$prefix}-button-hover-color: #{color-contrast($color)};
}

@mixin button-icon {
    --#{$prefix}-button-padding: 0;
    --#{$prefix}-button-font-size: #{$button-icon-font-size};
    --#{$prefix}-button-icon-width: #{$button-icon-width};

    justify-content: center;
    width: var(--#{$prefix}-button-icon-width);
    aspect-ratio: 1;
}

@mixin button-size($size) {
    @if $size == 'big' {
        --#{$prefix}-button-padding: #{$button-big-padding-y $button-big-padding-x};
        --#{$prefix}-button-font-size: #{$button-big-font-size};
        --#{$prefix}-button-icon-margin: #{$button-big-icon-margin};
    } @else if $size == 'small' {
        --#{$prefix}-button-padding: #{$button-small-padding-y $button-small-padding-x};
        --#{$prefix}-button-font-size: #{$button-small-font-size};
        --#{$prefix}-button-icon-margin: #{$button-small-icon-margin};
    }
}

@mixin button-icon-size($size) {
    @if $size == 'big' {
        --#{$prefix}-button-font-size: #{$button-big-icon-font-size};
        --#{$prefix}-button-icon-width: #{$button-big-icon-width};
    } @else if $size == 'small' {
        --#{$prefix}-button-font-size: #{$button-small-icon-font-size};
        --#{$prefix}-button-icon-width: #{$button-small-icon-width};
    }
}
