// =====================================================
// Icons
// =====================================================

@mixin icon($icon) {
    $glyph: map-get($icons, $icon);

    content: $glyph;
    display: inline-block;
    font-family: $icons-font-family;
}

@mixin icon-animation($name) {
    $animation: map-get($icon-animations, $name);

    animation: unquote($animation);
}
