/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

@mixin rfs($font-size) {
    $value: #{$font-size};
    $rfs-value: rfs-value($font-size);

    font-size: $value;

    @if $value != $rfs-value {
        @include mb-down(xl) {
            font-size: $rfs-value;
        }
    }
}

@mixin reset-link($color: $body-color, $hover-color: $color) {
    color: $color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $hover-color;
    }
}

@mixin reset-list($remove-list-style-type: true) {
    margin: 0;
    padding: 0;

    @if $remove-list-style-type {
        list-style-type: none;
    }
}
