// =====================================================
// Tables
// =====================================================

table {
    &.table--mobile {
        thead,
        tfoot {
            @include desktop-only;
        }

        tbody {
            /* stylelint-disable-next-line max-nesting-depth */
            tr:not(:last-child) {
                @include mb-down(md) {
                    border-bottom: $table-group-divider-border-bottom;
                }
            }

            /* stylelint-disable-next-line max-nesting-depth */
            td {
                @include mb-down(md) {
                    display: block;
                }

                /* stylelint-disable-next-line max-nesting-depth */
                &::before {
                    @include mb-down(md) {
                        content: attr(data-th) ': ';
                        display: inline-block;
                        padding-right: 0.5rem;
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }

    &.table--stripped {
        tbody {
            /* stylelint-disable-next-line max-nesting-depth */
            tr:nth-of-type(odd) {
                background-color: $table-stripped-background-color;
            }
        }
    }
}
