// =====================================================
// Typography
// =====================================================

@mixin rfs($font-size) {
    $value: #{$font-size};
    $rfs-value: rfs-value($font-size);

    font-size: $value;

    @if $value != $rfs-value {
        @include mb-down($rfs-breakpoint-key) {
            font-size: $rfs-value;
        }
    }
}

@mixin last-child-no-margin($margin-bottom: 1em) {
    &:not(:last-child) {
        margin-bottom: $margin-bottom;
    }
}

@mixin reset-link($color: $body-color, $hover-color: null) {
    color: $color;
    text-decoration: none;

    @if $hover-color == null {
        $hover-color: $color;
    }

    &:hover,
    &:focus {
        color: $hover-color;
    }
}

@mixin reset-list($remove-list-style-type: true) {
    margin: 0;
    padding: 0;

    @if $remove-list-style-type {
        list-style-type: none;
    }
}
