// =====================================================
// Cover
// =====================================================

$cover-padding-y: 7rem !default;
$cover-padding-y-md: 5rem !default;

$cover-content-max-width: 600px !default;

.cover {
    display: block;
    padding: $cover-padding-y 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mb-down(md) {
        padding: $cover-padding-y-md 0;
    }

    &[href] {
        @include reset-link;

        &.overlay {
            @include reset-link($overlay-color);
        }
    }

    &.overlay {
        .cover__content {
            position: relative;
            z-index: 1;
        }
    }

    &.cover--center {
        text-align: center;

        .cover__content {
            margin: 0 auto;

            @include mb-up(md) {
                padding: 0 div($cover-padding-y, 2);
            }
        }
    }

    &.cover--right {
        text-align: right;

        .cover__content {
            margin-left: auto;

            @include mb-up(md) {
                padding: 0 $cover-padding-y 0 0;
            }
        }
    }
}

.cover__content {
    padding: 0 $container-padding-x;

    @include mb-up(md) {
        max-width: $cover-content-max-width;
        padding: 0 0 0 $cover-padding-y;
    }
}
