// =====================================================
// Embedded content
// =====================================================

// Figure
figure {
    @include last-child-no-margin;
    margin: 0;
}

figcaption {
    color: $figcaption-color;
    font-size: $figcaption-font-size;

    img + & {
        margin-top: div($base-margin, 2);
    }
}

// Images and content
img,
svg {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}
