/**
 * Copyright @ 2024 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

$header-background-color: $white !default;
$header-box-shadow: 0 5px 20px rgba($black, 0.05) !default;

$header-inner-gap: 1.25rem !default;
$header-inner-padding: 1rem 0 !default;

.nav-open {
    @include mb-down(md) {
        overflow-y: hidden;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $header-background-color;
    box-shadow: $header-box-shadow;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $header-inner-gap;
    padding: $header-inner-padding;
}
