/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

$header-logo-margin-right: 1.25rem !default;
$header-logo-padding: 1rem 0 !default;
$header-logo-height: 2.5rem !default;

.header__logo {
    display: inline-block;
    margin-right: $header-logo-margin-right;
    padding: $header-logo-padding;

    .logo {
        display: block;
        height: $header-logo-height;
    }
}
