/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

$header-logo-height: 2.5rem !default;

.header__logo {
    display: inline-block;

    .logo {
        display: block;
        height: $header-logo-height;
    }
}
