// =====================================================
// Navbar
// =====================================================

$header-navbar-background-color: $white !default;

$header-navbar-lv1-min-width: 200px !default;
$header-navbar-lv1-background-color: $white !default;
$header-navbar-lv1-background-color-md: $gray-200 !default;

$header-navbar-item-lv0-border-md: 1px solid $gray-300 !default;

$header-navbar-item-lv1-border: $header-navbar-item-lv0-border-md !default;

$header-navbar-link-gap: 0.25rem !default;
$header-navbar-link-color: $gray-700 !default;
$header-navbar-link-color-md: $body-color !default;
$header-navbar-link-font-size: $small-font-size !default;
$header-navbar-link-hover-color: $body-color !default;
$header-navbar-link-hover-color-md: $header-navbar-link-hover-color !default;

$header-navbar-link-lv0-padding-y-md: 1rem !default;
$header-navbar-link-lv0-padding-x-md: 1rem !default;
$header-navbar-link-lv0-padding: 0.5rem 0.75rem !default;
$header-navbar-link-lv0-padding-md: $header-navbar-link-lv0-padding-y-md $header-navbar-link-lv0-padding-x-md !default;
$header-navbar-link-lv0-font-weight-md: $font-weight-medium !default;

$header-navbar-link-lv1-padding: 0.75rem 1rem !default;

$header-navbar-button-width-md: calc(100% - #{$header-navbar-link-lv0-padding-x-md} * 2) !default;
$header-navbar-button-margin-md: $header-navbar-link-lv0-padding-md !default;
$header-navbar-button-padding: $header-navbar-link-lv0-padding !default;
$header-navbar-button-padding-md: $header-navbar-link-lv0-padding-md !default;

$header-navbar-toggle-icon: 'chevron-down' !default;
$header-navbar-toggle-height: calc(
    $header-navbar-link-font-size * $body-line-height + $header-navbar-link-lv0-padding-y-md * 2
) !default;

.header__navbar {
    background-color: $header-navbar-background-color;

    @include mb-down(md) {
        position: absolute;
        top: 100%;
        width: 100%;
    }

    &.header__navbar--collapse {
        @include mb-down(md) {
            @include collapse;
            left: 0;
        }

        .nav-open & {
            @include mb-down(md) {
                @include collapse-active(calc(100vh - 100%));
            }
        }
    }

    &.header__navbar--slide-in {
        @include mb-down(md) {
            right: -100%;
            height: calc(100vh - 100%);
            transition: transition(right);
            overflow-y: auto;
        }

        .nav-open & {
            @include mb-down(md) {
                right: 0;
            }
        }
    }

    .navbar {
        &.lv0 {
            @include mb-up(md) {
                display: flex;
                height: 100%;
            }
        }

        &.lv1 {
            @include mb-up(md) {
                position: absolute;
                top: 100%;
                right: 0;
                display: none;
                min-width: $header-navbar-lv1-min-width;
                background-color: $header-navbar-lv1-background-color;
            }

            @include mb-down(md) {
                @include collapse;
                background-color: $header-navbar-lv1-background-color-md;
            }
        }
    }

    .navbar__item {
        &.lv0 {
            @include mb-up(md) {
                position: relative;
                display: flex;
                align-items: center;
            }

            @include mb-down(md) {
                border-bottom: $header-navbar-item-lv0-border-md;
            }

            &:hover,
            &:focus-within {
                /* stylelint-disable-next-line max-nesting-depth */
                > .navbar {
                    @include mb-up(md) {
                        display: block;
                    }
                }
            }
        }

        &.lv1 {
            &:not(:last-child) {
                @include mb-up(md) {
                    border-bottom: $header-navbar-item-lv1-border;
                }
            }
        }

        &.is-parent {
            position: relative;

            /* stylelint-disable-next-line max-nesting-depth */
            &.is-active {
                /* stylelint-disable-next-line max-nesting-depth */
                > .navbar {
                    @include mb-down(md) {
                        @include collapse-active;
                    }
                }
            }

            /* stylelint-disable-next-line max-nesting-depth */
            > .navbar__link {
                /* stylelint-disable-next-line max-nesting-depth */
                &::after {
                    @include mb-up(md) {
                        @include icon($header-navbar-toggle-icon);
                    }
                }
            }
        }
    }

    .navbar__link {
        @include reset-link($header-navbar-link-color, $header-navbar-link-hover-color);
        display: inline-flex;
        align-items: center;
        gap: $header-navbar-link-gap;
        width: 100%;
        font-size: $header-navbar-link-font-size;

        @include mb-down(md) {
            @include reset-link($header-navbar-link-color-md, $header-navbar-link-hover-color-md);
        }

        &.lv0 {
            padding: $header-navbar-link-lv0-padding;

            @include mb-down(md) {
                padding: $header-navbar-link-lv0-padding-md;
                font-weight: $header-navbar-link-lv0-font-weight-md;
            }
        }

        &.lv1 {
            padding: $header-navbar-link-lv1-padding;
        }
    }

    .navbar__button {
        @include button;
        @include button-primary($primary);
        /* stylelint-disable-next-line order/order */
        --#{$prefix}-button-padding: #{$header-navbar-button-padding};
        --#{$prefix}-button-font-size: #{$header-navbar-link-font-size};

        @include mb-down(md) {
            --#{$prefix}-button-padding: #{$header-navbar-button-padding-md};
            width: $header-navbar-button-width-md;
            margin: $header-navbar-button-margin-md;
        }
    }

    .navbar__toggle {
        @include mobile-only;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $header-navbar-toggle-height;
        aspect-ratio: 1 / 1;
        cursor: pointer;

        &::before {
            @include icon($header-navbar-toggle-icon);
        }
    }
}
