/**
 * Copyright @ 2024 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

.container {
    width: 100%;
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-x;
    padding-right: $container-padding-x;

    &.container--full {
        max-width: 100%;
    }
}
