// =====================================================
// Layout
// =====================================================

$footer-background-color: $gray-200 !default;
$footer-color: $base-color !default;

$footer-content-padding: 1.5rem 0 !default;

$footer-bottom-border-top: 2px solid $gray-300 !default;

.footer {
    background-color: $footer-background-color;
    color: $footer-color;
}

.footer__navbar,
.footer__bottom {
    padding: $footer-content-padding;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mb-up(md) {
        justify-content: space-between;
    }

    @include mb-down(md) {
        flex-direction: column;
        text-align: center;
    }

    .footer__navbar + & {
        @include mb-up(md) {
            border-top: $footer-bottom-border-top;
        }

        @include mb-down(md) {
            padding-top: 0;
        }
    }
}
