/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

$body-background-color: $light !default;
$body-color: $dark !default;
$body-font-family: $font-family-sans-serif !default;
$body-font-size: $font-size !default;
$body-font-weight: $font-weight-normal !default;
$body-line-height: 1.5 !default;
