/**
 * Copyright @ 2023 Sparkle
 * https://github.com/danieledeluca/sparkle
 */

// Button multipliers
$button-padding-x-multiplier: 2 !default;
$button-icon-font-size-multiplier: 1.5 !default;

// Button
$button-padding-y: 0.75rem !default;
$button-padding-x: $button-padding-y * $button-padding-x-multiplier !default;
$button-background-color: transparent !default;
$button-color: $body-color !default;
$button-border-width: 1px !default;
$button-border-color: transparent !default;
$button-border-radius: 0.25rem !default;
$button-font-size: $body-font-size !default;
$button-font-weight: $font-weight-medium !default;
$button-line-height: $body-line-height !default;
$button-text-transform: null !default;
$button-disabled-opacity: 0.5 !default;

$button-icon-width: calc(
    ($button-padding-y * 2) + ($button-font-size * $button-line-height) + ($button-border-width * 2)
) !default;
$button-icon-margin: div($button-padding-x, 2) !default;
$button-icon-font-size: $button-font-size * $button-icon-font-size-multiplier !default;

// Button big
$button-big-padding-y: $button-padding-y + 0.125rem !default;
$button-big-padding-x: $button-big-padding-y * $button-padding-x-multiplier !default;
$button-big-font-size: $body-font-size * 1.25 !default;

$button-big-icon-width: calc(
    ($button-big-padding-y * 2) + ($button-big-font-size * $button-line-height) + ($button-border-width * 2)
) !default;
$button-big-icon-margin: div($button-big-padding-x, 2) !default;
$button-big-icon-font-size: $button-big-font-size * $button-icon-font-size-multiplier !default;

// Button small
$button-small-padding-y: $button-padding-y - 0.25rem !default;
$button-small-padding-x: $button-small-padding-y * $button-padding-x-multiplier !default;
$button-small-font-size: $body-font-size * 0.875 !default;

$button-small-icon-width: calc(
    ($button-small-padding-y * 2) + ($button-small-font-size * $button-line-height) + ($button-border-width * 2)
) !default;
$button-small-icon-margin: div($button-small-padding-x, 2) !default;
$button-small-icon-font-size: $button-small-font-size * $button-icon-font-size-multiplier !default;
