/**
 * Copyright @ 2024 Sparkle UI
 * https://github.com/sparkleui/sparkle
 */

// Figure
$figure-margin: 0 0 1rem !default;

// Figcaption
$figcaption-margin-top: 0.5rem !default;
$figcaption-color: $dark-gray !default;
$figcaption-font-size: $small-font-size !default;
