/**
 * Copyright @ 2024 Sparkle UI
 * https://github.com/sparkleui/sparkle
 */

// Breakpoints
$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
) !default;
$break-offset: 0.02px !default;

// Container
$container-max-width: 1320px !default;
$container-padding-x: 1rem !default;

// Grid
$grid-columns: 12 !default;
