// =====================================================
// Root
// =====================================================

$prefix: 'sk' !default;

$enable-smooth-scroll: true !default;
$scroll-padding-top: 4.5rem !default;
