// =====================================================
// Typography
// =====================================================

// Font families
$font-family-sans-serif: 'Inter', sans-serif !default;
$font-family-serif: 'Playfair Display', serif !default;
$font-family-monospace: monospace, monospace !default;

// Font size
$font-size: 1rem !default;

// Font weights
$font-weight-thin: 100 !default;
$font-weight-lighter: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;
$font-weight-black: 900 !default;

// Headings
$headings-margin-bottom: 0.5rem !default;
$headings-font-family: null !default;
$headings-font-sizes: (
    'h1': $font-size * 2.5,
    'h2': $font-size * 2,
    'h3': $font-size * 1.75,
    'h4': $font-size * 1.5,
    'h5': $font-size * 1.25,
    'h6': $font-size * 1,
) !default;
$headings-font-weight: $font-weight-semi-bold !default;
$headings-line-height: 1.2 !default;

// Display
$display-margin-bottom: 1rem !default;
$display-font-family: $headings-font-family !default;
$display-font-sizes: (
    'huge': $font-size * 5,
    'large': $font-size * 4.5,
    'bigger': $font-size * 4,
    'big': $font-size * 3.5,
) !default;
$display-font-weight: $headings-font-weight !default;
$display-line-height: $headings-line-height !default;

// Paragraph
$paragraph-margin-bottom: 1rem !default;

// Lead
$lead-font-family: null !default;
$lead-font-size: $font-size * 1.25 !default;
$lead-font-size-md: $font-size * 1.125 !default;
$lead-font-weight: null !default;

// Link
$link-color: $primary !default;
$link-text-decoration: underline !default;
$link-hover-color: darken($primary, 5) !default;
$link-hover-text-decoration: null !default;

// Strong
$strong-font-weight: $font-weight-bold !default;

// Small
$small-font-size: 0.875em !default;

// List
$list-margin-bottom: 1rem !default;
$list-padding-left: 2rem !default;
$list-nested-margin: 0.25rem 0 !default;

$description-list-margin-bottom: 1rem !default;
$description-list-title-font-weight: $font-weight-bold !default;
$description-list-detail-margin-bottom: 0.5rem !default;

// Blockquote
$blockquote-margin-bottom: 1rem !default;
$blockquote-font-size: $lead-font-size !default;
$blockquote-font-size-md: $lead-font-size-md !default;
$blockquote-figcaption-margin: -$blockquote-margin-bottom 0 0 !default;
$blockquote-figcaption-color: $gray-600 !default;
$blockquote-figcaption-font-size: $small-font-size !default;
$blockquote-figcaption-icon: '\2014\00A0' !default;

// Address
$address-margin-bottom: 1rem !default;

// Mark
$mark-padding: 0.1875em !default;
$mark-background-color: $yellow !default;

// Sub and Sup
$sub-sup-font-size: 0.75em !default;

// Pre
$pre-margin-bottom: 1rem !default;
$pre-font-size: $small-font-size !default;

// Code
$code-color: $primary !default;
$code-font-size: $small-font-size !default;

// Kdb
$kbd-padding: 0.1875rem 0.375rem !default;
$kbd-background-color: $dark !default;
$kbd-color: $light !default;
$kbd-border-radius: 0.25rem !default;
$kbd-font-size: $small-font-size !default;

// Hr
$hr-margin: 1.5rem 0 !default;
$hr-border: 1px solid $gray-300 !default;
