// =====================================================
// Buttons
// =====================================================

@mixin button {
    @include transition(background-color, color, border-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: $button-padding-y $button-padding-x;
    background-color: $button-background-color;
    color: $button-color;
    border: $button-border;
    border-radius: $button-border-radius;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    text-align: center;
    text-decoration: none;
    text-transform: $button-text-transform;
    text-shadow: none;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.15s;

    &:hover,
    &:focus {
        color: $button-color;
    }

    &:disabled {
        opacity: $button-disabled-opacity;
        cursor: auto;
    }
}

@mixin button-primary($color) {
    background-color: $color;
    color: color-contrast($color);
    border-color: $color;

    &:hover,
    &:focus {
        $color-darken: darken($color, 5);

        background-color: $color-darken;
        color: color-contrast($color-darken);
        border-color: $color-darken;
    }
}

@mixin button-secondary($color) {
    color: $color;
    border-color: $color;

    &:hover,
    &:focus {
        background-color: $color;
        color: color-contrast($color);
    }
}

@mixin button-tertiary($color) {
    color: $color;

    &:hover,
    &:focus {
        $color-darken: darken($color, 5);

        color: $color-darken;

        span {
            &::after {
                background-color: $color-darken;
            }
        }
    }

    span {
        position: relative;

        &::after {
            @include transition(background-color);
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: $color;
        }
    }
}

@mixin button-icon {
    justify-content: center;
    width: $button-icon-size;
    height: $button-icon-size;
    padding: 0;
}

@mixin button-big {
    padding: $button-big-padding-y $button-big-padding-x;
    font-size: $button-big-font-size;
}

@mixin button-small {
    padding: $button-small-padding-y $button-small-padding-x;
    font-size: $button-small-font-size;
}

@mixin button-icon-left {
    &::before,
    [class*='icon-'] {
        margin-right: $button-icon-margin;
    }
}

@mixin button-icon-right {
    &::after,
    [class*='icon-'] {
        margin-left: $button-icon-margin;
    }
}

@mixin button-icon-big {
    width: $button-big-icon-size;
    height: $button-big-icon-size;
    padding: 0;
}

@mixin button-icon-small {
    width: $button-small-icon-size;
    height: $button-small-icon-size;
    padding: 0;
}
