// =====================================================
//      Root
// =====================================================

$prefix: 'rk' !default;

$enable-smooth-scroll: true !default;
$header-height: 4.5rem !default;
