/**
 * Copyright @ 2024 Sparkle UI
 * https://github.com/sparkleui/sparkle
 */

$rfs-base-value: 1.25rem !default;
$rfs-factor: 3 !default;

@function rfs-value($font-size) {
    // Get breakpoint value
    $breakpoint-value: map-get($breakpoints, 'xl');

    // Remove units
    $base-value: remove-unit($rfs-base-value);
    $breakpoint-value: remove-unit($breakpoint-value);
    $value: remove-unit($font-size);

    // Add the media query only if the $value is greater than the $base-value
    @if $value <= $base-value {
        @return convert-to-rem($value);
    } @else {
        // Calculate the minimum value
        $min-value: $base-value + div(($value - $base-value), $rfs-factor);

        // Calculate the difference between the $value and the $min-value
        $diff-value: $value - $min-value;

        // Format the $min-value in rem
        $min-value: convert-to-rem($min-value);

        // Calculate the variable width between 0 and $breakpoint-value
        $variable-width: #{div($diff-value * 100, $breakpoint-value)}vw;

        // Return the calculated value
        @return calc(#{$min-value} + #{$variable-width});
    }
}
